*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;

}

body {
    background-color: rgb(182, 9, 9);
}

main {
    background-color: antiquewhite;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgb(14, 13, 13);
}